build/
.zed/
.cache/
python/build/
python/src/clibtokamap*.so
python/src/libtokamap/__pycache__/
python/src/libtokamap/_version.py
python/src/libtokamap.egg-info
python/tests/__pycache__/
python/dist/
python/setup.py
.clangd
.ropeproject
venv
.idea
logs/
install/
trace.json
profile.json
graph/data
uda
.vs
out
CMakeSettings.json
build_artifacts
.DS_Store
site/
graph/
schemas/
